{% extends "layout.html" %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="row">
        <div class="col-md-7" id="create-character">
            <form method="POST">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <legend class="border-bottom mb-2">{{ legend }}</legend>
                <div class="form-row" id="name-row">
                    <div class="form-group col">
                        {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-md is-invalid", placeholder="Name") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-md", placeholder="Name") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.armour_class.label(for="inputAC", class="form-control-label ml-3 mt-2") }}
                    <div class="col-xs ml-1">
                        {{ form.armour_class(class="form-control", id="ac-input", type="number", min="0", max="50") }}
                    </div>
                    {{ form.hit_points.label(for="inputHP", class="form-control-label ml-2 mt-2") }}
                    <div class="col-xs ml-1">
                        {{ form.hit_points(class="form-control", id="hp-input", type="number", min="0", max="200") }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm">
                        {{ form.race.label(class="form-control-label") }}
                        <select class="form-control" name="race">
                            <option selected>Choose...</option>
                            {% for race in form.race.choices %}
                                <option value="{{race[0]}}">{{race[0]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm">
                        {{ form.char_class.label(class="form-control-label") }}
                        <select class="form-control" name="char_class">
                            <option selected>Choose...</option>
                            {% for charclass in form.char_class.choices %}
                                <option value="{{charclass[0]}}">{{charclass[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-sm">
                        {{ form.gender.label(class="form-control-label") }}
                        {% if form.gender.errors %}
                            {{ form.gender(class="form-control form-control-md is-invalid", placeholder="gender") }}
                            <div class="invalid-feedback">
                                {% for error in form.gender.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.gender(class="form-control form-control-md", placeholder="Gender") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-sm">
                        {{ form.age.label(class="form-control-label") }}
                        {% if form.age.errors %}
                            {{ form.age(class="form-control form-control-md is-invalid", placeholder="age") }}
                            <div class="invalid-feedback">
                                {% for error in form.age.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.age(class="form-control form-control-md", placeholder="Age") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.strength.label(for="inputStr", class="form-control-label ml-3 mt-2") }}
                    <div class="col-xs ml-1">
                        {{ form.strength(class="form-control", id="ascore-input", type="number", min="0", max="30") }}
                    </div>
                    {{ form.constitution.label(for="inputCon", class="form-control-label ml-2 mt-2") }}
                    <div class="col-xs ml-1">
                        {{ form.constitution(class="form-control", id="ascore-input", type="number", min="0", max="30") }}
                    </div>
                    {{ form.dexterity.label(for="inputDex", class="form-control-label ml-2 mt-2") }}
                    <div class="col-xs ml-1">
                        {{ form.dexterity(class="form-control", id="ascore-input", type="number", min="0", max="30") }}
                    </div>
                    {{ form.wisdom.label(for="inputWis", class="form-control-label ml-2 mt-2") }}
                    <div class="col-xs ml-1">
                        {{ form.wisdom(class="form-control", id="ascore-input", type="number", min="0", max="30") }}
                    </div>
                    {{ form.intelligence.label(for="inputInt", class="form-control-label ml-2 mt-2") }}
                    <div class="col-xs ml-1">
                        {{ form.intelligence(class="form-control", id="ascore-input", type="number", min="0", max="30") }}
                    </div>
                    {{ form.charisma.label(for="inputCha", class="form-control-label ml-2 mt-2") }}
                    <div class="col-xs ml-1">
                        {{ form.charisma(class="form-control", id="ascore-input", type="number", min="0", max="30") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.short_bio.label(class="form-control-label") }}
                    {% if form.short_bio.errors %}
                        {{ form.short_bio(class="form-control form-control-lg is-invalid", id="short-bio") }}
                        <div class="invalid-feedback">
                            {% for error in form.short_bio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.short_bio(class="form-control form-control-lg", id="short-bio") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.long_bio.label(class="form-control-label") }}
                    {% if form.long_bio.errors %}
                        {{ form.long_bio(class="form-control form-control-lg is-invalid", id="character-background") }}
                        <div class="invalid-feedback">
                            {% for error in form.long_bio.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.long_bio(class="form-control form-control-lg", id="character-background") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-info") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
